require 'erb'

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="display_qr.css">
</head>
<body>

    <h1>QR Reader 2000</h1>

    
<div id="qr_reader">
    <input type="text">
   <button>Button</button>

    <%= 5 + 5 %>


</div>
</body>
</html>