<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="<%= url('./style.css') %>">
</head>
<body>
    <div id="main">
        <div id="container">
            <div id="panel">
                <h1>QReader</h1>
                <div id="ptype">
                <p>
                    <a href="/info">QR3000</a>
                </div>
                <br>
                <br>

                <p>
                
                    <%= "The time is now: #{Time.now.strftime('%H:%M')}" %>
                
                </p>

                </p>
            </div>
        </div>
    </div>

    <!-- <script src="https://js.stripe.com/v3"></script>
    <script charset="UTF-8">
        var stripe = Stripe('publishable key from dashboard');
        console.log("hello world";)
    </script> -->
    
</body>
</html>