<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="<%= url('./style.css') %>">
</head>
<body>
    <div id="main">
        <div id="container">
            <div id="panel">
            <div style="margin-bottom: 100px"></div>
<h1 style="font-family: Consolas; background-color: pink; border: 2px solid black; padding: 5px;">QR3000</h1>

               
                <br>
                <br>

                <p>
                
                
                <h3 style="font-family: Consolas; background-color: pink; border: 2px solid black; padding: 5px;">Enter web address and submit for QR code generation</h3>

            <div style="font-family: Consolas; background-color: pink; border: 2px solid black; padding: 5px;">
                <form method="POST" action="/qr/new">
                    <p>address: <input type="text" name="address"></p>
                    <input type="submit">
                </form>
            </div>
                
                </p>

                </p>
            </div>
        </div>
    </div>

    <!-- <script src="https://js.stripe.com/v3"></script>
    <script charset="UTF-8">
        var stripe = Stripe('publishable key from dashboard');
        console.log("hello world";)
    </script> -->
    
</body>
</html>