
<style>

.qr-code{
    padding: 5px;
    margin: 10px;
    color: blue;
}

</style>
<div style="width: 15%; margin: auto; margin-top: 100px; border: 3px solid pink;">
    
     <p style="margin: auto; text-align: center; margin-top: 20px; margin-bottom: 20px;"> <%=@svg%></p>

</div>