
<style>

.qr-code{
    padding: 5px;
    margin: 10px;
    color: blue;
}

.qr-box {
    width: 15%; 
    margin: auto; 
    margin-top: 100px; 
    border: 3px solid pink;
}

.qr-border {
    margin: auto; 
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

</style>


<div class="qr-box">
    
     <p class="qr-border"> 
        <%=@svg%>
     </p>

</div>