<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<h1>THIS IS THE INDEX MOFO!!</h1>

<div>
    <button type="submit" id="btn">Click me!</button>
</div>


<ul>
    <li>This feels like progress!</li>
    <li>We have never been this far out before.</li>

</ul>



<script scr="https://js.stripe.com/v3/"></script>


<script>

    var btn = document.getElementById('btn');
    btn.addEventListener('click', function(e){
        e.preventDefault();
        fetch('/my-post-route', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                test: "abc123",
                payment_method: "pm_card_visa",
                customer: "cus_23abac",
                address: {
                    line1: "123 Main Street"
                }
            }),
        })
        .then((response) => response.json())
        .then((data) => {
        console.log('Success:', data);
    })
        .catch((error) => {
        console.error('Error:', error);
    });
    })

</script>

<%# <script>
    var stripe;
    fetch('public-keys')
    .then((response) => response.json())
    .then((data) => {
        stripe = Stripe(data.key);
        console.log('Success:', data);
    })
    .catch((error) => {
        console.error('Error:', error);
    });
</script>
     %>
</body>
</html>